@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap");

:root {
  --pageBackground: #272822;
  --primaryText: #eeeeee;
  --secondText: #808080;
  --white: #ffffff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;

  --textLarge: 48px;
  --textMedium: 32px;
  --textSmall: 24px;
}

body {
  font-family: "Sofia Sans";
  color: var(--primaryText);
  background-color: var(--pageBackground);
  padding: 0px;
  text-align: center;
  margin: auto;
}

.Home-backgroundVid {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

.Home-titleContainer {
  max-width: 640px;
  margin: auto;
  width: 60%;
}

.Home-title {
  font-size: var(--textLarge);
  min-width: 480px;
}

.Home-buttonContainer {
  background-color: var(--secondText);
  width: 320px;
  margin: auto;
  height: fit-content;
  border-radius: var(--s);
  min-width: 250px;
}

.Home-buttonContainer:hover {
  opacity: 60%;
}

.Home-buttonText {
  margin: 0px;
  font-family: "Sofia Sans";
  font-size: var(--textMedium);
  color: var(--primaryText);
}

@media (max-width: 1000px) {
  .Home-buttonContainer {
    width: 240px;
  }
}

@media (max-width: 800px) {
  .Home-titleContainer {
    position: fixed;
    left: 160px;
    width: 480px;
  }
}
