.Lobby-title {
  font-size: 64px;
}

.Lobby-code {
  font-size: 48px;
}

.Lobby-all {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.Lobby-waitButton {
  margin: auto;
  position: relative;
  top: 32px;
  font-family: "Sofia Sans";
  font-size: 32px;
  width: 240px;
  height: 64px;
  background-color: var(--secondText);
  color: var(--primaryText);
  border-radius: 32px;
  text-align: center;
}

.Lobby-waitText {
  position: relative;
  top: 12px;
}

.Lobby-startButton {
  position: relative;
  top: 32px;
  font-family: "Sofia Sans";
  font-size: 32px;
  width: 240px;
  height: 64px;
  background-color: var(--secondText);
  color: var(--primaryText);
  border-radius: 32px;
  text-align: center;
}

@media (max-width: 800px) {
  .Lobby-centerText {
    position: fixed;
    left: 160px;
    width: 480px;
    z-index: -1;
  }
}
