#HowToPlay-Menu {
  height: 100%;
  position: fixed;
  right: 0;
  width: 300px;
  background-color: #555555;
  transform: translateX(+300px);
  transition: transform 250ms ease-in-out;
  border-radius: 8px 0px 0px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.HowToPlay-Box {
  width: 90%;
  height: 23%;
  padding: 4px;
  margin: 4px;
  border-color: #272822;
  border-style: solid;
  border-radius: 8px;
  border-width: 4px;
}

.HowToPlay-Text {
  white-space: nowrap;
  margin: 0px;
}

input[type="checkbox"] {
  position: absolute;
  top: 12px;
  right: 300px;
  width: 24px;
  height: 100%;
  transform: translateX(+300px);
  transition: transform 250ms ease-in-out;
  appearance: none;
}

input[type="checkbox"]:checked ~ #HowToPlay-Menu {
  transform: translateX(0);
}

input[type="checkbox"]:checked {
  transform: translateX(0);
}

input[type="checkbox"]:checked ~ .HowToPlay-Label {
  transform: translateX(0);
}

.HowToPlay-Label {
  position: absolute;
  padding: 12px;
  top: 50px;
  right: 300px;
  width: 50px;
  transform: translateX(+300px);
  transition: transform 250ms ease-in-out;
  writing-mode: vertical-rl;
  font-size: 40px;
  background-color: #555555;
  border-radius: 8px 0px 0px 8px;
}

@media (max-height: 600px) {
  #HowToPlay-Menu {
    height: 600px;
  }
}
