@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.googleLoginButton {
  position: absolute;
  right: 24px;
  top: 120px;
}

.profileImgButton {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.profileImg {
  position: relative;
  right: 8px;
  bottom: 3px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.profileImg:hover {
  opacity: 50%;
}

.googleLogoutButton {
  width: 96px;
  height: 40px;
  border: 0px;
  color: var(--pageBackground);
  font-family: "Roboto";
  font-size: 16px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 20px;
}

@media (max-width: 800px) {
  .googleLoginButton {
    position: fixed;
    left: 680px;
    top: 120px;
  }
  .profileImgButton {
    position: fixed;
    left: 696px;
    top: 40px;
  }
}
