.StatsBox-name {
  text-align: center;
  font-size: 96px;
}

.StatsBox-largeContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 400px;
  align-content: center;
}

.StatsBox-containerName {
  margin: auto;
  font-size: 20px;
}

.StatsBox-containerNumber {
  margin: auto;
  font-size: 20px;
}
